<h2>Shopping Cart</h2>
<ul>
  {{#each shoppingCart.items as |item| }}
    <li>{{item.name}} -- {{item.price}}</li>
    <li>Number In Cart: {{item.numberInCart}}</li>
    <button {{action 'removeFromCart' item}} class="btn btn-warning">Remove from Cart</button>
  {{/each}}
</ul>
<p>
  Total: {{shoppingCart.total}}
  <br>
  <button {{action 'checkout' shoppingCart}} class='btn btn-success'>Checkout</button>
</p>
