<!-- <div class="row">
  {{#each items as |item|}}
    <div class="col-sm-4">
      <div class="well">
        <h2>{{#link-to 'item' item.id}}{{item.name}}{{/link-to}}</h2>
        <img src={{item.image}}>
        <br><br>
        <p>{{item.description}}</p>
        <p>${{item.price}}</p>
      </div>
    </div>
  {{/each}}
</div> -->

<div class="row">
  {{#each items as |item|}}
    <div class="col-sm-4">
      {{#link-to 'item' item.id}}
      <div class="ui raised link card">
        <div class="content">
          <div class="myClass">
            <div class="header">{{item.name}}</div>
            <img src={{item.image}}>
            <div class="description">
              <p>{{item.description}}</p>
              <p>${{item.price}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>
